
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/phuonglv@vietabank.com/src/EmailNhacNo/log/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/phuonglv@vietabank.com/src/EmailNhacNo/log/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="vab.com.vn.EmailnhacnoApplication">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>
</configuration>



